a {
    color: #a21f34;
    text-decoration: none;
}
a:hover {
    color: #a21f34;
    text-decoration: underline;
}

h1 {
		font-weight: bold;
    font-size: 22pt;
}
h2 {
		font-weight: bold;
    font-size: 20pt;
}
h3 {
		font-weight: bold;
    font-size: 18pt;
}
h4 {
		font-weight: bold;
		font-size: 16pt;
} 
h5 {
		font-weight: bold;
} 
h6 {
		font-weight: bold;
}

p{
		margin-bottom: 15px;
}

ul {
		padding-left: 20px;
}

html, body {
    height: 100%;
    margin: 0px;
    font-size: 11pt;
}

.main-content {
		margin-top: 10px;
		margin-bottom: 10px;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
	border-bottom: 1px solid #ddd;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -70px;
}
.footer, .push {
    height: 70px;
}
.footer {
    background-color: #f5f5f5;
		border-top: 1px solid #ddd;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

.full {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.left {
    min-width: 280px;
    max-width: 280px;
    margin-top: 10px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
    display: flex;
}

@media only screen and (max-width:991px) {
    .full {
				flex-direction: column;
    }
    .left {
				margin-right: 0px;
				margin-bottom: 10px;
    }
    .right {
				width: 100%;
    }
}


.profile-picture {
    width: 100%;
}

.home {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    padding-top: 10px;
    padding-bottom: 10px;
}

.research {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    /* padding: 10px; */
}

.mit {
		color: #a21f34;
}

.logo {
    max-height: 100px; /* Maintain aspect ratio */
		max-width: 100%;
}
