<!DOCTYPE html>
<html>
  <head>
    <title>Sungho Shin</title>
		<meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Fira Sans:400,700' rel='stylesheet'>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/hack" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-K190B4J44P"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-K190B4J44P');
		</script>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
					<!-- <img src="/img/logo.png" alt="Logo" width="50"> -->
					<b>Sungho Shin</b>
				</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            { nav }
          </ul>
        </div>
      </nav>
      <div class="main-content">
        <div class="container">
          { content }
        </div>
      </div>
      <div class="push"></div>
    </div>
    <footer class="footer d-flex align-items-center bg-white">
      <div class="container">
        <a href="mainto:sshin@anl.gov">
          Email
        </a>
        |
        <a href="https://scholar.google.com/citations?user=_KaTyEwAAAAJ">
          Google Scholar
        </a>
        |
        <a href="https://github.com/sshin23">
          Github
        </a>
        |
        <a href="https://twitter.com/SunghoShinSS">
          Twitter
        </a>
        |
        <a href="https://www.linkedin.com/in/sungho-shin-92665416a/">
          LinkedIn
        </a>
				|
				<a href="/shin.pdf">
					CV
				</a>
      </div>
    </footer>
  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
